* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
}

.inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.users {
  width: 100%;
}

th {
  border-bottom: 1px solid #000;
}

tr:nth-child(even) {
  background: #ccc;
}

.btn {
  border: 1px solid #000;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 400px;
  padding: 10px;

  transform: translate(-50%, -50%);

  background: #fff;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background: #000;
  opacity: 0.2;
}

.hidden {
  visibility: hidden;
}

.btn__close {
  position: absolute;
  right: 10px;
}
